@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  --roxo: #9395d3;
  --escuro: #000807;
  --claro: #fcfafa;
  --claro-intermediario: #ebebebcb;
  --cinza-claro: #C6C4CB;
  --cinza-escuro: #1F2020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

h1, h2 {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1;
}

@media (max-width: 800px) {
  h1, h2 {
    font-size: 1.8rem;
  }
}

ul {
  list-style: none;
}

li {
  padding: 2rem;
}

.nav-link-item {
  padding: 0.9rem 1.2rem;
}

.nav-link {

  transition: ease-in-out .5s;
  position: relative;

}

.nav-link::after {
  content: '';
  position: absolute;
  height: 1px;
  left: 0;
  bottom: 0;
  width: 0;
  background: var(--roxo);
  transition: width .5s;
}

.nav-link:hover:after {
    width: 100%;
}

.nav-content {
  margin-inline: auto;
  width: fit-content;
  border-radius: 10px;
}

a {
  text-decoration: none;

  transition: ease-in-out .5s;

  &:hover {
    color: var(--roxo);
  }

}

p {
  color: var(--cinza-claro);
}

.text-primary {
  color: var(--roxo);
}

.text-secondary {
  color: var(--cinza-claro);
}

button {

  padding: 2rem;

  &:hover {
    cursor: pointer;
  }

}

.btn-primary {
  border-radius: 30px;
  width: fit-content;
  padding: 1rem 3rem;
  border: 1px solid;
  transition: ease-in-out .5s;
  text-transform: uppercase;

  &:hover {
    color: var(--claro);
    border-color: var(--roxo);
    background-color: var(--roxo);
  }
}

.btn-secondary {
  border-radius: 30px;
  width: fit-content;
  padding: 1rem 3rem;
  border: 1px solid;
  transition: ease-in-out .5s;

  &:hover {
    background-color: var(--claro);
  }
}

@media (max-width: 1030px) {
  .btn-secondary {
    padding: 0.5rem 1.5rem;
  }
}

.primary-span {
  color:var(--roxo);
}

.typing {
  animation: 
    typing 4s steps(40, end);
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typing {
  0% { width: 0 }
  100% { width: 100% }
}

.section-container {
  margin: auto;
  width: 73.5%;
  padding: 6rem 0;
}

@media (max-width: 1490px) {
  .section-container {
    width: 90%;
  }
}

nav {
  z-index: 999;
}

.iframe-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.iframe-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.projects span {
  color: var(--roxo);
}

#technologies span {
  color: var(--roxo);
}

.technology-img {/* Alinhamento da imagem no centro ps: Lembrar sempre*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

footer {
  background-color: var(--claro-intermediario);
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
