@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  --roxo: #9395d3;
  --escuro: #000807;
  --claro: #fcfafa;
  --cinza: #C6C4CB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--escuro);
  color: var(--claro);
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

li {
  padding: 2rem;
}

a {
  text-decoration: none;
  color: #ffffff;

  transition: ease-in-out .5s;

  &:hover {
    color: var(--roxo);
  }

}

p {
  color: var(--cinza);
}

button {

  padding: 2rem;

  &:hover {
    cursor: pointer;
  }

}

span {
  color:var(--roxo);
}

section {

  padding: 15rem 5rem;

}

nav {
  z-index: 999;
}

h2 {
  text-transform: uppercase;
}

.technology-img {/* Alinhamento da imagem no centro ps: Lembrar sempre*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}